<header>
    <div>
        <h1 class="siteName"><a href="/" style="text-decoration:none; color:inherit;">CSE Motors</a></h1>
        <a href="/account/login" title="Go to My Account">My Account</a>
    </div>
</header>